</body>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">&copy; Sun Plants 2023</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/sunbui"><i class="fab fa-github"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://twitter.com/sunbuiii/"><i class="fab fa-twitter"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/in/sunbui/"><i class="fab fa-linkedin"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.instagram.com/sunbuiii/"><i class="fab fa-instagram"></i></a>
  </li>
</ul>


</html>