</body>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">&copy; Indoor Plants 2020</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#"><i class="fab fa-github"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#"><i class="fab fa-instagram"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#"><i class="fab fa-linkedin"></i></a>
  </li>
</ul>


</html>