body {
  padding: auto 0;
  margin-left: 0;
  background: rgba(14, 15, 15, 0.3);
  background-color: black;
}

#landing-header {
  font-family: 'EB Garamond', serif;
  color: beige;
  margin-bottom: 0;
  margin-top: 10px;
  text-shadow: 5px 5px 5px #0E0F0F;
  font-weight: normal;
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;

}

#landing-header h4 {
  color: #fff;

}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1617103996702-96ff29b1c467?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
  animation-delay: 0s;
}

.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1618221469555-7f3ad97540d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
  animation-delay: 7s;
}

.slideshow li:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1617806118233-18e1de247200?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
  animation-delay: 14s;
}

.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1615529179035-e760f6a2dcee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80);
  animation-delay: 21s;
}

.slideshow li:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1615875388242-46b822b09cda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
  animation-delay: 28s;
}

.slideshow li:nth-child(6) {
  background-image: url(https://images.unsplash.com/photo-1615875882968-3e393f78765a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
  animation-delay: 35s;
}

.slideshow li:nth-child(7) {
  background-image: url(https://images.unsplash.com/photo-1615875605825-5eb9bb5d52ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80);
  animation-delay: 42s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  20% {
    opacity: 1
  }

  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}